<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <title>Hogwarts</title>
  <meta name="author" content="Carl King">
  
  <meta name="description" content="Yet, another funny blog">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  
  <meta property="og:site_name" content="Hogwarts"/>

  <link rel="alternate" href="/atom.xml" title="Hogwarts" type="application/atom+xml">
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!-- 被墙 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script> -->
    <!-- <script src="//lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js"></script> -->
    <script src="/js/jquery.min.2.0.3.js"> </script>
  
  

  <meta property="wb:webmaster" content="e9d0b5d9cad42cf4" />
  <meta property="qc:admins" content="214253361253561667" />
</head>


<body>
  <div class="wrapper">
    <header id="header"><div class="title">
  <h1><a href="/">Hogwarts</a></h1>
  <p><a href="/">A funny, exciting blog</a></p>
</div>
<!--
<div>
<form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
 <input style="width:60px;background-color:transparent;text-align:center; border-width:0px;border-top-style: none; border-right-style: none; border-left-style: none; border-bottom-style: none; "  type="search" name="q" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" maxlength="20" placeholder="s" />
 <input type="hidden" name="q" value="site:">
</form>
</div>
-->
<nav class="nav">
  <ul>
    
      <li><a href="/">Home</a></li>
    
      <li><a href="/archives">Archives</a></li>
    
      <li><a href="/tags">Tags</a></li>
    
      <li><a href="/essay">Essays</a></li>
    
      <li><a href="/about">About</a></li>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
    <div class="content">
  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-05-23T16:00:00.000Z">
  <!-- <a href="/archives/2017/05/"> -->
  <a href="/archives/2017/">
    2017-05-24
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/Notes-on-Shell-Scripting/">Notes on Shell Scripting</a></h1>
  

  </header>
  
  <div class="entry">
    
      Shell 相关命令Shell 文件管理命令cd              # 切换目录ls              # 列出文件(夹)cp              # 复制文件(夹)mv              # 移动/重命名文件(夹)rm              # 删除文件(夹)pwd             # 显示当前目录mkdir           # 创建目录open  
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/Notes-on-Shell-Scripting/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/coding/">Coding</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/linux/">Linux</a>, <a href="/tags/macos/">macOS</a>, <a href="/tags/shell/">Shell</a>, <a href="/tags/cli/">CLI</a>, <a href="/tags/notes/">Notes</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-05-12T16:00:00.000Z">
  <!-- <a href="/archives/2017/05/"> -->
  <a href="/archives/2017/">
    2017-05-13
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/PoemNigt/">读诗的八个夜晚</a></h1>
  

  </header>
  
  <div class="entry">
    
      读《诗的八堂课》的情景不难忘，地铁中、餐馆中、公园中、宿舍中……难忘的是我重读这本书的八个夜晚，一天重读一堂课，一天写下一节笔记，房间中、台灯下、纸笔旁、电脑前……开启诗歌的曼妙之旅。
博弈第一博是博彩，弈是下棋。任何创作都不能避免这个议题：灵感重要还是技艺重要？
博弈的典型例子是李白和杜甫。你们常以为李白是典型的灵感型选手，但天才如他，除去斗酒诗百篇，也曾前后三拟《文选》，「常横经籍书，制作不倦
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/PoemNigt/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/诗的八堂课/">诗的八堂课</a>, <a href="/tags/读诗/">读诗</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-05-12T16:00:00.000Z">
  <!-- <a href="/archives/2017/05/"> -->
  <a href="/archives/2017/">
    2017-05-13
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/RedAdvantage/">《摔跤吧！爸爸》：红蓝对垒，为何就是红方胜算大？</a></h1>
  

  </header>
  
  <div class="entry">
    
      在大热电影《摔跤吧！爸爸》中，女主角 Geeta Phogat 是一名摔跤运动员，她在电影中有四场重要赛事：
第一场是国际青年比赛，穿的是红衣。

首场大赛，轻松获胜。
第二场是参加全国比赛，穿的是红衣。

毫无悬念获得冠军，顺利成为国家级运动员。
第三场是首次参加奥运会，穿的是蓝衣。

不敌国际选手，连续被击败。教练评价「有些人天生就不是参加国际赛的料。」
第四场是最重要的英联邦比赛，穿的是蓝衣
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/RedAdvantage/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/摔跤吧/">摔跤吧</a>, <a href="/tags/粉红牢房效应/">粉红牢房效应</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-04-25T16:00:00.000Z">
  <!-- <a href="/archives/2017/04/"> -->
  <a href="/archives/2017/">
    2017-04-26
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/HowElonMuskLearnsFasterAndBetterThanEveryoneElse/">硅谷钢铁侠 Elon Musk 练就超强学习能力的秘密</a></h1>
  

  </header>
  
  <div class="entry">
    
      为什么 Elon Musk 能 40 多岁时在四个不同的领域（软件、能源、运输和航空航天）打造出 4 家数十亿的公司？
有的人将其成功归因于他勤奋工作（他平均每周工作 85 小时），他有颠覆现实的想象力，以及他惊人的适应能力。
但我对以上答案都不满意——很多人有这样的特质，我想知道他更与众不同的地方。
在不断阅读关于 Musk 的各种文章、视频和书籍后，我终于找到了那块缺失的拼图。传统的观点认为，
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/HowElonMuskLearnsFasterAndBetterThanEveryoneElse/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/学习/">学习</a>, <a href="/tags/秘密/">秘密</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-04-25T16:00:00.000Z">
  <!-- <a href="/archives/2017/04/"> -->
  <a href="/archives/2017/">
    2017-04-26
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/don_norman_on_design_and_emotion/">唐诺德·诺曼：1 个茶壶告诉你什么是好设计</a></h1>
  

  </header>
  
  <div class="entry">
    
      唐诺德·诺曼最喜欢这个茶壶，这是他在芝加哥四季酒店买到的。
表面上一看，这个茶壶是不是没有什么特别的？

但是如果你细心看，你会发现这个茶壶盖是倾斜的，而且茶壶把手下方有个凸出的楔形设计。
这个设计有什么用呢？不用急，慢慢说你听。
当你要泡茶的时候，将茶壶平躺，加入茶叶，再加入开水。

等到茶叶泡开，倾斜放置茶壶，茶叶被茶壶内置的滤网隔开，就不至于浸泡过久，而且茶壶柄刚好倾斜面对着人，拿起加水也非
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/don_norman_on_design_and_emotion/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/设计/">设计</a>, <a href="/tags/茶壶/">茶壶</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-04-25T16:00:00.000Z">
  <!-- <a href="/archives/2017/04/"> -->
  <a href="/archives/2017/">
    2017-04-26
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/Steven-Pinker-WhiteBoard/">史蒂芬·平克：小孩生来就不是一张白纸</a></h1>
  

  </header>
  
  <div class="entry">
    
      你可能会有这样的想法，认为刚出生的孩子是一张白纸，可以在白纸上画出你想要的任何样子。你还担心自己画不好，尽可能将孩子送到最好的学校，接受最好的教育，让社会、教育、文化在白纸上画出你想要的样子——企业家、医生、钢琴家、银行家……
但——此时一个外国人跳出来说：「太天真了，孩子怎么可能是一张白纸？」
你是否会愤怒地把他一脚踢开？
等一下！如果你知道这个卷毛外国人是哈佛大学实验心理学博士、麻省理工学院认
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/Steven-Pinker-WhiteBoard/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/思考/">思考</a>, <a href="/tags/麦肯锡/">麦肯锡</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-04-25T16:00:00.000Z">
  <!-- <a href="/archives/2017/04/"> -->
  <a href="/archives/2017/">
    2017-04-26
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/4IdeasToImproveYourCreativeThinking/">Darius Foroux：提升创新思维的 4 个技巧</a></h1>
  

  </header>
  
  <div class="entry">
    
      创新仅仅是艺术家的特权？创新是浪费时间？
尽管这种错误的想法在教育中仍然存在，但创新仍是当今复杂世界中最有价值的技能之一。

企业寻找创造性的员工；
世界各地的艺术家加紧了他们的创意游戏；
企业家基本上都是穿着西装的艺术家；

创造性思维是一种受人尊敬的技巧。有了足够的实践，每个人都可以更有创意地思考。但是，我仍然会听到人们说「我不是一个有创意的人」。
我们对创新者是有偏见的，一说到「创意」，你会
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/4IdeasToImproveYourCreativeThinking/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/思维/">思维</a>, <a href="/tags/创新/">创新</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-04-22T16:00:00.000Z">
  <!-- <a href="/archives/2017/04/"> -->
  <a href="/archives/2017/">
    2017-04-23
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/CardsUsage/">卡片创作谈：这些卡片用法最容易被人误用</a></h1>
  

  </header>
  
  <div class="entry">
    
      有的人喜欢把卡片当作收藏知识的工具，而我则喜欢把卡片当作创造作品的工具。
如何用卡片生成自己的知识树？如何分享自己的创作卡片？如何用卡片建立自己的思维模型？
以下分享我使用卡片创作的初阶、进阶和高阶用法。
初阶使用法是补全而不是收藏，是搜索而不是保存，是生成知识树而不是画脑图。
这是我写的一张「文气」卡片：

文气
来源：曹丕《典论·论文》：文以气为主，气之清浊有体，不可力强而致。譬诸音乐，曲度虽
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/CardsUsage/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/卡片/">卡片</a>, <a href="/tags/创作/">创作</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-03-27T16:00:00.000Z">
  <!-- <a href="/archives/2017/03/"> -->
  <a href="/archives/2017/">
    2017-03-28
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/Paulgraham-Time/">硅谷创业教父Paul Graham：如何高效安排时间表？</a></h1>
  

  </header>
  
  <div class="entry">
    
      程序员不喜欢开会，大多是因为他们使用不同的时间表。在他们眼中，开会浪费时间。
工作时间表有两种：管理者时间表和创造者时间表。管理者的时间表专为老板设计，这体现在传统效率手册上，他们的事务按小时为单位切割，当然这并不绝对，如果有需要他们也会花上几个小时来完成一项任务。
如果你使用管理者时间表——实际情况也就是与人开会。你只需在时间表查找空余时间，然后和别人约定见面，搞掂。
有权力的人大多喜欢使用管理
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/Paulgraham-Time/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/时间表/">时间表</a>, <a href="/tags/paul-graham/">Paul Graham</a>
  </div>
 -->
    </footer>

  </div>
</article>



  <article class="post">
  <header>
    
      <div class="icon"></div>
      <time datetime="2017-03-23T16:00:00.000Z">
  <!-- <a href="/archives/2017/03/"> -->
  <a href="/archives/2017/">
    2017-03-24
  </a>
</time>

    
    
  
    <h1 class="title"><a href="/post/Briefhistory/">索引卡简史：从这里窥见互联网信息革命</a></h1>
  

  </header>
  
  <div class="entry">
    
      你可能不曾想到，一张 3 x 5 英寸的索引卡可以帮助人类写出所有知识。

你可能觉得索引卡现在已经过时了。我们现在只用它来写记忆卡，写食谱，偶尔还用来折飞机。但它的最初目的却是用来整理动植物和矿物的信息，接着再用来搭建图书馆系统的目录结构，整理无序信息，到最后用来酝酿创意，孵化互联网的原型。
Linnaeus 的发明想象一下。如果你要用索引卡手工整理 12000 多个动物、植物和矿物的信息，这是
    

    <span class="readmore-dot"> ...... </span>

    <footer class="end-sep">
        <div class="alignleft">
          <a href="/post/Briefhistory/#more" class="more-link">Read More</a>
        </div>
      <div class="clearfix"></div>
<!--       
  
  <div class="categories">
    <a href="/categories/blog/">blog</a>
  </div>

      
  
  <div class="tags">
    <a href="/tags/信息革命/">信息革命</a>, <a href="/tags/索引卡/">索引卡</a>
  </div>
 -->
    </footer>

  </div>
</article>




<nav id="pagination">
  
  
    <a href="/page/2/" class="next">Next</a>
  
  <div class="clearfix"></div>
</nav>

<!-- <a href="http://github.com/bruce-sha"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a> --></div>
  </div>
  <div class="widget-wrapper">
    <aside id="sidebar">
  
  
    
      
      

<div class="widget category first">
  <h3 class="title">Categories</h3>
  <ul class="entry">
  
    <li><a href="/categories/coding/">Coding</a><small>1</small></li>
  
    <li><a href="/categories/blog/">blog</a><small>388</small></li>
  
  </ul>
</div>

    
      
      

<div class="widget tag">
  <h3 class="title">Tags</h3>
  <ul class="entry">
  
    <li><a href="/tags/知识管理/">知识管理</a><small>52</small></li>
  
    <li><a href="/tags/学习/">学习</a><small>35</small></li>
  
    <li><a href="/tags/写作/">写作</a><small>33</small></li>
  
    <li><a href="/tags/千字文/">千字文</a><small>24</small></li>
  
    <li><a href="/tags/总结/">总结</a><small>19</small></li>
  
    <li><a href="/tags/思考/">思考</a><small>18</small></li>
  
    <li><a href="/tags/雕爷/">雕爷</a><small>16</small></li>
  
  </ul>
</div>

    
      
      

<div class="widget recent-posts">
  <h3 class="title">Recent Posts</h3>
  <ul class="entry">
    
      <li>
        <a href="/post/Notes-on-Shell-Scripting/">Notes on Shell Scripting</a>
      </li>
    
      <li>
        <a href="/post/PoemNigt/">读诗的八个夜晚</a>
      </li>
    
      <li>
        <a href="/post/RedAdvantage/">《摔跤吧！爸爸》：红蓝对垒，为何就是红方胜算大？</a>
      </li>
    
      <li>
        <a href="/post/HowElonMuskLearnsFasterAndBetterThanEveryoneElse/">硅谷钢铁侠 Elon Musk 练就超强学习能力的秘密</a>
      </li>
    
      <li>
        <a href="/post/don_norman_on_design_and_emotion/">唐诺德·诺曼：1 个茶壶告诉你什么是好设计</a>
      </li>
    
      <li>
        <a href="/post/Steven-Pinker-WhiteBoard/">史蒂芬·平克：小孩生来就不是一张白纸</a>
      </li>
    
  </ul>
</div>

    
  
</aside>
<div class="clearfix"></div>
  </div>
  <footer id="footer"><div class="theme-copyright">
<div class="copyright">
 &copy; 2016 - 2017 <a href="https://github.com/carlking5019">Carl King</a>
</div>

<div class="powered-by">
Powered by  <a href="https://hexo.io" target="_blank">Hexo </a>
</div>

<div class="theme-info">
 Theme by <a href="https://github.com/bruce-sha/hexo-theme-modernist" target="_blank">Modernist </a> 
 </div>


<div class="busuanzi-count">

<!-- <span id="busuanzi_container_site_pv">Visitors
  <a href="//busuanzi.ibruce.info" target="_blank">
    <span id="busuanzi_value_site_pv"></span>
  </a> -->

<!-- </span>  -->
    <span class="site-uv">
      Unique Visitor
      <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
    </span>
    <span class="site-pv">
      Page View
      <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
    </span>
</div>

</div>

<div class="clearfix"></div>

<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>


<!-- <div class="copyright" >
  {% set current = date(Date.now(), "YYYY") %}
  &copy; {% if theme.since and theme.since != current %} {{ theme.since }} - {% endif %}
  <span itemprop="copyrightYear">{{ current }}</span>
  <span class="with-love">
    <i class="fa fa-{{ theme.authoricon }}"></i>
  </span>
  <span class="author" itemprop="copyrightHolder"><a href="/">{{ config.author }}</a></span>
</div>

{% if theme.copyright %}
<div class="powered-by">
  {{ __('footer.powered', '<a class="theme-link" href="https://hexo.io">Hexo</a>') }}
</div>

<div class="theme-info">
  {{ __('footer.theme') }} -
  <a class="theme-link" href="https://github.com/iissnan/hexo-theme-next">
    NexT.{{ theme.scheme }}
  </a>
</div>
{% endif %} -->
</footer>
  <script src="/js/scale.fix.js"></script>
<script src="/js/jquery.imagesloaded.min.js"></script>
<script src="/js/gallery.js"></script>




<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
  (function($){
    $('.fancybox').fancybox();
  })(jQuery);
</script>

</body>
</html>